chatbot.db
_chatbot.db
__chatbot.db
___chatbot.db
cvft.sh
.DS_Store
.idea
venv
pyrightconfig.json
config.json
__pycache__/
update_rust.sh
update_flow.sh
convform/*
!convform/bots
!convform/convform_dist
convform-*-cp39-cp39-macosx_11_0_arm64.whl
