body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(169, 169, 169);
    overflow: auto;
}

#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none;
}

/* Hide scrollbar for Webkit browsers */
*::-webkit-scrollbar {
    display: none;
}
