$light-grey: rgb(189, 189, 189);

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

.admin-header {
    margin: 3px 0;
    text-align: center;
}

.flow-label {
    height: 25px;
    display: flex;
    align-items: center;
}

.issues-summary {
    position: fixed;
    left: 10px;
    top: 10px;
    color: white;
    padding: 5px;
    z-index: 9999;
    max-width: 400px;
}

.bot-brick {
    margin-bottom: 5px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: $light-grey;
    border-radius: 10px;
}

.project-brick {
    margin: 0 5px 5px 5px;

    height: 30px;
    background-color: $light-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.project-brick:hover {
    cursor: pointer;
}

.project-brick:active {
    background-color: rgb(200, 200, 200);
}

.project-name {
    margin-left: 10px;
    transition: font-size 0.2s ease;
}

.new-project {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    font-size: 16px;
    width: 68%;
}

.new-flow {
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.new-flow:focus {
    outline: none;
}

.new-project:focus {
    outline: none;
}

.bot-name {
    width: 150px;
    margin-left: 10px;
    cursor: move;
}

.new-flow:hover {
    cursor: default;
}

.is-dragging {
    transition: transform 0.1s;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row;
}

.login-field {
    margin-bottom: 2px;
}

.log-off {
    position: absolute;
    right: 10px;
    top: 10px;
}

.flow-container {
    display: flex;
    flex-direction: row;
}

.flow-list {
    min-width: 628px;
}

.project-container {
}

.title {
    color: black;
    text-decoration: none;
}

.new-project-form:focus-within {
    background-color: rgb(200, 200, 200);
}

.rename-flow-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listing-container {
    display: flex;
    flex-direction: column;
}

.editor-input {
    display: flex;
    flex-direction: column;
}

.navbar {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.navbar > * {
  margin: 10px;
}

.spacer {
  width: 100%;
}

.read-container {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  display: grid;
  grid-gap: 5px;
}

.read-item {
  justify-self: center
}

.conversations-container {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 5px;
  flex-wrap: wrap;
}

.convo-brick {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.13s ease-in-out;
  height: auto;
}

.convo-brick:hover {
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(200,200,200);

}

.turns-reader {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 80vh;
}

.conversation-reader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%
}

.turn {
  display: grid;
  grid-template-columns: 0.3fr 3.5fr 1fr;
  align-items: center;
  justify-items: start;
  min-height: 3em;
  width: 90%;
  margin: 0;
  padding: 0 5px;
}

.highlighted {
    background-color: rgb(179, 179, 179);
    border-radius: 12px;
}

.highlighted-bot {
    background-color: rgb(179, 179, 179);
    border-radius: 0 0 12px 12px;
}

.highlighted-human {
    background-color: rgb(179, 179, 179);
    border-radius: 12px 12px 0 0;
}

.meta-turn {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
  justify-items: start;
  height: 2em;
  width: 100%
}

.reader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.end {
  width: 45%;
}

.cstatus-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.cstatus-item {
  text-align: center;
  margin: 0;
}

.test-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test-content {
  width: 30%;
  display: flex;
  justify-content: center;
}

.wide {
  width: 35%;
}

.test-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
