.log-rater-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.log-rater-turn {
    margin-left: 10px;
}

.log-rater-parent {
    margin: 10px;
}

.log-rater-question {
    font-size: smaller;
    margin: 15px 0 15px 15px;
}

.checkbox-box {
    width: 25px;
}
