{% extends "grid.html" %}

{% block title %}
{{flow}}
{% endblock %}

{% block js %}
<script type="text/javascript">
    var delay = {{ config.REPLY_DELAY_MS }};

    document.addEventListener("DOMContentLoaded", ()=>{

        setTimeout(function() {
            document.querySelector(".message").classList.remove("loader")
            document.querySelector(".confirm").classList.remove("hide")
            document.querySelector(".abort").classList.remove("hide")
            document.querySelector(".message").innerHTML = '{{bot_reply}}'
                start_time = Date.now();
                }, delay);
        document.querySelectorAll(".avatar").forEach(avatar=>{
        avatar.classList.remove("hide")
        })  
        document.querySelector(".message").classList.add("loader")
        document.querySelector(".message").innerHTML=''
        document.querySelector(".user-input").classList.remove("hide")
        document.querySelector(".user-input").name = "answer"
    })

    document.querySelector(".abort").addEventListener("click", ()=>{
        document.querySelector(".grid-container").action="{{ url_for('dispatcher', abort=1)}}"
    })
    
    const reaction_ms = document.querySelector("#reaction-ms")

        document.querySelector(".grid-container").addEventListener("submit", function() {
        reaction_ms.value = Date.now() - start_time;
    });


</script>

{% endblock %}