{% extends "grid.html" %}

{% block title %}
{{flow}}
{% endblock %}

{% block js %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", ()=>{
    document.querySelector(".message").innerHTML =
    'Tato stránka slouží k testování chatbotů.<br>' +
    'Pokud jste k testování nebyli vyzváni ale máte o to zájem, ' +
    'obraťte se prosím na <em><a href="mailto:albert.marsik@gmail.com">albert.marsik@gmail.com</a></em>'
    document.querySelector(".center").style.justifyContent = 'center'
})
</script>
{% endblock %}
