{% extends "grid.html" %}

{% block title %}
{{flow}}
{% endblock %}

{% block js %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ()=>{
        document.querySelector(".message").innerHTML='{{message}}<br>Prosím ohodnoťte <strong>slovně</strong> a <strong>známkou</strong> jako ve škole:'
        document.querySelector(".user-eval").classList.remove("hide")
        document.querySelector(".middle.center").style.gridRow = 'span 2'
        document.querySelector(".bottom.right").appendChild(document.querySelector(".confirm"))
        document.querySelector(".bottom.center").remove()
        document.querySelector(".confirm").classList.remove("hide")
        document.querySelector(".rating").classList.remove("hide")

        document.querySelector(".confirm").addEventListener("click", e=>{
            if (!document.querySelector(".user-eval").value){
                e.preventDefault()
                document.querySelector(".warning").classList.remove("hide")
            }
            if (!document.querySelector(".rating").value){
                e.preventDefault()
                document.querySelector(".warning").classList.remove("hide")
            }
        })
    })


</script>
{% endblock %}